bin
node_modules
bower_components
Temp
Library
.DS_Store
*~
*.swp
*.bat
*.bak
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
